.root {
  display: flex;
  align-items: center;
  flex: 1;
}

.content {
  display: flex;
}

.link {
  text-decoration: none;
  color: #fff

}

.buttonLine {
  display: flex;
  justify-content: flex-end;
}

.exit {
  &:hover {
    color: #fff;
    cursor: pointer;
  }
}
