.root {
  padding-left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  //outline: 1px solid gold;
}

.over {
  outline: 1px solid gold;
}

.ingredientsContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.list {
  max-height: 370px;
  margin-left: -24px;
  overflow: auto;



  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-track {
    background: #2F2F37;
  }
  &::-webkit-scrollbar-thumb {
    background: #8585AD;
    border: 3px solid #2F2F37;
    border-radius: 6px;
  }

 & > * {
   margin-bottom: 8px;
   margin-top: 8px;
 }
}

.lineElement {
  display: flex;
  align-items: center;

  & > [class='constructor-element'] {
    width: 100%;
  }
}

.orderContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.count {
  display: flex;
  align-items: center;

  & > svg {
    width: 33px;
    height: 33px;
  }
}

.text {
  font-size: 48px;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}


.loader {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}
