.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.burger-container {
  display: flex;
  justify-content: space-between;
}
.content-wrapper {
  max-width: 1240px;
}

.text {
  text-align: left;
  align-self: flex-start;
}
